# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science

- List popular libraries for Data Science

- List popular development environment open source tools for Data Science

Some of the popular languages that Data Scientists use are:
1.Python

2.R

3.SQL

4.Scala

5.java

6.Julia

Some of the commonly used libraries used by Data Scientists include:

1.Pandas

2.Numpy

3.Matplotlib

|Data Science Tools|
|------------------|
|Jupiter Notebook|
|R Studio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
#This a simple arithmetic expression to mutiply then add integer
x = 3
y = 4
z = x*y
w = z+5
print(w)

17

In [16]:
#This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author

Mariem Minny